.creativeSkillsSection {
    width: 100%;
    background-color: var(--textColor);
    padding: 2rem;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.skillsIcons {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.boxIcon {
    align-self: center;
}

.csharp {
  color: var(--mainColor);
  font-size: 3rem;
  fill: var(--mainColor);
}

.express {
    font-size: 2rem; 
    color: var(--mainColor);
}

.skills {
    font-size: 3.5rem; 
    color: var(--mainColor);
}
.skillIcon {
    font-size: 4rem;
    margin: 1rem;
    color: var(--mainColor);
    align-self: center;
}