    main {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    height: fit-content; 
 
  }

  @keyframes levitate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the displacement as needed */
    }
    100% {
      transform: translateY(0);
    }
  }

  a {
    text-decoration: none;
    color: var(--textColor);
  }

  .u:hover{
    cursor: pointer;
  }

  .but:hover {
   background-color: initial;
  }

  

  button {
    background-color: #94323a; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for better appearance */
    font-size: 16px; /* Font size */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
    
    }


    button:hover {
    background-color: #501b1f; /* Darker green on hover */
    }
  
  .firstSection {    
    margin-top: 1%;
    flex-basis: 35%;
    flex-shrink: 2;
    
  }

  .secondSection {
    
    width: 33%;
  }

  span {
    color: var(--mainColorL)
  }
  
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.5rem;
    color: #40ACFF;
  }

  h3 {
    font-size: 2rem;
    color: #6B8A94;
  }
  
  .img {
    width: 100%;
    min-width: 60%;
    height: auto;
    border-radius: 50%;
    background-color: var(--mainColorL);
    animation: levitate 4s ease-in-out infinite; /* Adjust the duration and timing function as needed */
    margin-bottom: 20px; /* Space for the shadow */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Shadow styling */
  }

  article {
    padding-top: 1rem;
    padding-bottom: .5rem;
    background-color: var(--mainColor);
    width: 100%;
    display: flex;
    flex-direction: row; /* Horizontal layout */
    justify-content: space-around;
    align-items: center;
    height: fit-content;
  }

  .sectionA{
    width: 60%;
    margin: 0;
  }

  .sectionA h1 {
    color: var(--textColor);
    text-align: center;
    font-size: 3.5rem;
  }

  .sectionA h3 {
    color: var(--textColor);
    text-align: justify;
    padding: 5rem;    
    margin: .7rem;
    font-size: 2rem;
  }

  .sectionB {
   width: 40%;

  }

  .devImg {
    width: 100%;
    height: auto;
    border-radius: 5%;
  }

  @media (max-width:1000px) {
    article {
        flex-direction:column-reverse;
        align-items:center;
        justify-items: center;
    }
    .sectionA h3 {
        width: auto;
        padding: 1rem;
      }
    
      .sectionB {
        width: 45%;
      }

      .sectionA h1 {
        text-align: center;  
      }

      .img {
        margin-top: 2rem;
      }

      .sectionA {
        width: 90%;
      }
  }

 

  @media (max-width:700px) {
    main {
        flex-direction: column;
        align-items:center;
    }

    article {
      flex-direction:column-reverse;
      align-items:center;
      justify-items: center;
  }
    .sectionA{
      width: 100%;
      padding: 1rem;
      border-bottom: 0;
    }

    button {
        display: block;
        margin: 0 auto;
    }

    .sectionA h1 {
        font-size: 4rem;
      }
    
      h2 {
        font-size: 3rem;
        color: #40ACFF;
      }
    
      h3 {
        font-size: 1.8rem;
        color: #6B8A94;
      }
      .secondSection {
       width: 45%
      }

    .sectionA h1 {
        text-align: center;  
      }

      .img {
        margin-top: 3rem;
      }

      .sectionB {
        width: 60%;
      }
  }

  

