:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mainColor: rgb(49, 53, 49);
  --mainColorL: rgb(83, 87, 83);
  --secondaryColor: rgb(63, 124, 78);
  --textColor: white;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

